<ul class="posts">
    {% for post in posts %}
    <li class="post well">
        <div class="post-content  ">
            <div class="post-author"><a style="text-decoration:none" href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></div>
                <p><p style="color:rgb(170,170,170); font-style: italic; " class="text-right ">{{moment(post.timestamp).format('L')}}</p></p>
<!--             <div class="post-body">
            {% if post.body_html %}
                {{post.body_html | safe}}
            {% else %}
                {{ post.body }}
            {% endif %}
            </div>

            <div class="post-footer">
                <a href="{{url_for('.post',id=post.id)}}#comments">
                    <span class="label label-primary">{{post.comments.count()}}条评论</span>
                </a>
            </div> -->
        </div>
    </li>
    {% endfor %}
</ul>